.current {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  height: 90vh;
}

.news {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  height: 45vh;
}

.upcoming {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  height: 44.7vh;
}

img {
  height: 500px;
}
